.root{
    --primary-color:purple;
    --off-white: #F5FFFA;
    --dark-gray: var(--dark-gray);

}

.non-bullet{
    list-style: none;
    padding-inline-start: 0px;
}

.inline{
    display:inline;
    padding:0rem 0.5rem;
}

.navigation{
    background-color: purple;
    border-bottom-left-radius: 1rem;
    color:white;
    padding:0.5rem;
}

.navigation .nav-hehe{
    font-weight: bold;
    
}

.navigation .nav-samosa{
    text-align: right;
}

.head{
    font-weight: bolder;
    font-size: larger;
    margin: 3rem;
    text-align: center;
    color: violet;
}

.article{
    background-color:#F5FFFA; 
    display: block;
    text-align: center;
    border-bottom-left-radius: 1rem;
    border-radius: 1rem;
}
.haha{
    color:black;
}
.article .chillu{
    font-size: 20px;
    color:darkgray;
}
.chitti{
    color:darkgray;

}
.link-primary{
    background-color: purple;
    border-radius: 1rem;
    color:white;
    padding:0.4rem;
    max-width: 140px;
    text-decoration: none;
}
.link-secondary{
    background-color: purple;
    border-radius: 1rem;
    color:white;
    padding:0.4rem;
    max-width: 140px;
    text-decoration: none;
    margin-left: 0.5rem;
}

.footer{
    background-color: purple;
    padding: 2rem 1 rem;
    border-bottom-left-radius: 0.5rem;
    text-align: center;
    margin-top: 1rem;
    color:white;
    padding:1rem;
}
.footer .footer-header{
    font-weight: bold;
    text-align: center;
    color:white;
}